<form action="/add" method="POST" name="formulario">
    <p>Titutlo:</p>
    <input type="text" name="titulo"/>

    <p>Conteúdo</p>
    <textarea name="conteudo"></textarea>
    <br/>
    <button type="submit">Enviar</button>
    <button href="{{backHome}}">Voltar</button>
</form>